<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Geolocator</title>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/geolocation.css">

        <script type="text/javascript" src="bower_components/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/vendor/URI.min.js"></script>

    </head>
    <body ng-app="GeolocationApp">
        <h1 id="title">GeoLocation Test</h1>
        <hr class="divider"></hr>
        <div class="mainContainer col-sm-12 col-md-12 col-lg-12">
            <div class="view" ng-view></div>
        </div>
        <!-- Vendor Scripts -->
        <script type="text/javascript" src="bower_components/lodash/lodash.min.js"></script>
        <script type="text/javascript" src="js/vendor/google-maps.js"></script>
        <!-- Custom Scripts -->
        <script type="text/javascript" src="js/geolocation.js"></script>
        <!-- Controllers -->
        <script type="text/javascript" src="js/controllers/GeolocationController.js"></script>
        <!-- Services -->
        <script type="text/javascript" src="js/services/Location.js"></script>

    </body>
</hmtl>